<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.mjcheetham.gitpolicy.daemon</string>
    <key>Program</key>
    <string>/usr/local/share/gitpolicy/daemon/gitpolicyd</string>
    <key>ProgramArguments</key>
    <array />
    <key>EnvironmentVariables</key>
    <dict>
    <key>PATH</key>
      <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>KeepAlive</key>
    <dict>
      <key>SuccessfulExit</key>
      <false />
    </dict>
    <key>StandardOutPath</key>
    <string>/tmp/gitpolicy/launchd-stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/gitpolicy/launchd-stderr.log</string>
  </dict>
</plist>
